<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
</head>


<body class="container">
<nav th:replace="fragments :: header"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Name</th>
        </tr>
    </thread>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/details/'+${event.id}" th:text="${event.name}"></a></td>
    </tr>

</table>
</body>
</html>