<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<form method="post">
    <div class="form-group">
        <label class="form-label">Tag
            <input th:field="${tag.name}" class="form-control">
        </label>
        <p class="errors" th:errors="${tag.name}"></p>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Create Category" class="btn btn-success">
    </div>
</form>

</body>
</html>